<a href="https://colab.research.google.com/github/kamikazed-44/kamikazed-44/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance==0.1.67
#!pip install pandas==1.3.3
#!pip install requests==2.26.0
!mamba install bs4==4.10.0 -y
#!pip install plotly==5.3.1


import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance==0.1.67 in /usr/local/lib/python3.7/dist-packages (0.1.67)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance==0.1.67) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance==0.1.67) (1.21.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance==0.1.67) (0.0.10)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance==0.1.67) (2.23.0)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance==0.1.67) (4.9.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance==0.1.67) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance==0.1.67) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance==0.1.67) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance==0.1.67) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance==0.1.67) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance==0.1.67) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance==0.1.67) (1.24.3)
/bin/bash: mamba: command not found

In [ ]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [ ]:
tesla = yf.Ticker ("TSLA")

In [ ]:
tesla_data = tesla.history(period="max")

In [ ]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

        Date   Open   High    Low  Close    Volume  Dividends  Stock Splits
0 2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
1 2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2 2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
3 2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
4 2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
html_data = requests.get('https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue')
soup = BeautifulSoup(html_data.text, 'lxml')

In [ ]:
html_data=soup.find_all("tbody")
html_data

[]

In [ ]:
all_tables = soup.find_all('table', attrs={'class': 'historical_data_table table'})

tesla_revenue = pd.DataFrame(columns=["Date", "Revenue"])
tesla_revenue

Empty DataFrame
Columns: [Date, Revenue]
Index: []

In [ ]:
all_tables = soup.find_all('table', attrs={'class': 'historical_data_table table'})

tesla_revenue = pd.DataFrame(columns=["Date", "Revenue"])

for table in all_tables:
    if table.find('th').getText().startswith("Tesla Quarterly Revenue"):
        for row in table.find_all("tr"):
            col = row.find_all("td")  
            if len(col) == 2: 
                date = col[0].text
                revenue = col[1].text.replace('$', '').replace(',', '')
                tesla_revenue = tesla_revenue.append({"Date": date, "Revenue": revenue}, ignore_index=True)

In [ ]:
 tesla_revenue

          Date Revenue
0   2022-03-31   18756
1   2021-12-31   17719
2   2021-09-30   13757
3   2021-06-30   11958
4   2021-03-31   10389
5   2020-12-31   10744
6   2020-09-30    8771
7   2020-06-30    6036
8   2020-03-31    5985
9   2019-12-31    7384
10  2019-09-30    6303
11  2019-06-30    6350
12  2019-03-31    4541
13  2018-12-31    7226
14  2018-09-30    6824
15  2018-06-30    4002
16  2018-03-31    3409
17  2017-12-31    3288
18  2017-09-30    2985
19  2017-06-30    2790
20  2017-03-31    2696
21  2016-12-31    2285
22  2016-09-30    2298
23  2016-06-30    1270
24  2016-03-31    1147
25  2015-12-31    1214
26  2015-09-30     937
27  2015-06-30     955
28  2015-03-31     940
29  2014-12-31     957
30  2014-09-30     852
31  2014-06-30     769
32  2014-03-31     621
33  2013-12-31     615
34  2013-09-30     431
35  2013-06-30     405
36  2013-03-31     562
37  2012-12-31     306
38  2012-09-30      50
39  2012-06-30      27
40  2012-03-31      30
41  2011-12-31      39
42  2011-09-30      58
43  2011-06-30      58
44  2011-03-31      49
45  2010-12-31      36
46  2010-09-30      31
47  2010-06-30      28
48  2010-03-31      21
49  2009-12-31
50  2009-09-30      46
51  2009-06-30      27

In [ ]:
tesla_revenue = pd.read_html('https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue')[1]
tesla_revenue = pd.DataFrame(columns=["Date", "Revenue"])
print(tesla_revenue)

Empty DataFrame
Columns: [Date, Revenue]
Index: []

In [ ]:
pip install pywhatkit
pip3 install flask

import pywhatkit

SyntaxError: ignored

In [3]:
import pandas as pd
import numpy as np

WB =pd.read_excel(r"C:\Users\ONG-OPS-1\Desktop\ops\WB\06_2022_oolu-energy_connections_template.xlsx")
WB.head()
import os
files =[file for file in os.listdir(r"C:\Users\ONG-OPS-1\Desktop\ops\WB")]
for files in files:
    print (files)
    len(files)
all_months_data = pd.DataFrame()
WB =pd.read_excel(r"C:\Users\ONG-OPS-1\Desktop\ops\WB\06_2022_oolu-energy_connections_template.xlsx" + files)
all_months_data = pd.concat([all_months_data, WB])
all_months_data.to_excel ("all_data.xlsx", index=False)
all_months_data

FileNotFoundError: ignored

# New Section

# New Section

# New Section

In [17]:
pip install jupyter_http_over_ws
jupyter serverextension enable --py jupyter_http_over_ws

SyntaxError: ignored

In [32]:
import pandas as pd
import numpy as np


WB =pd.read_excel(r"/content/06_2021_connections_template.xlsx")
WB.head()
import os
files =[file for file in os.listdir(r"/content")]
for files in files:
    print (files)
    len(files)
all_months_data = pd.DataFrame()
WB =pd.read_excel( r"/content/06_2021_connections_template.xlsx" , files)
all_months_data = pd.concat([all_months_data, WB])
all_months_data.to_excel ("all_data.xlsx", index=False)
all_months_data

.config
04_2021_connections_template_latest.xlsx
09_21_oolu-energy_connections_template.xlsx
10_2021_oolu-energy_connections_template.xlsx
08_2021_oolu-energy_connections_template.xlsx
05_2022_-oolu energy_connections.xlsx
02_21_.xlsx
05_2022_-oolu energy_connections_template.xlsx
12_2021_oolu-energy_connections_template.xlsx
05_2021_connections_template.xlsx
drive
03_2021_connections_template (New).xlsx
07_2021_oolu-energy_connections_template (1).xlsx
03_2022_oolu-energy_connections_template.xlsx
02_2022_-oolu energy_connections_template.xlsx
06_2022_oolu-energy_connections_template.xlsx
WBP Data_Nov.2020 - Copy.xlsx
01_2022_-oolu energy_connections.xlsx
04_2022_oolu-energy_connections_template.xlsx
06_2021_connections_template.xlsx
11_2021_oolu-energy_connections_template_New.xlsx
sample_data

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

ValueError: ignored

In [33]:
import pandas as pd
import numpy as np

WB =pd.read_excel(r"/content/06_2021_connections_template.xlsx")
WB.head()

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,CONNECTIONS UPLOAD TEMPLATE,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Instructions:,NaN,NaN,NaN,NaN,NaN
3,NaN,Note that each row represents 1 connection. So...,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN